@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--cream);
  color: var(--dark-grayish-blue);
  width: 100vw;
  height: 100vh;
  display: flex;
}

.container {
  max-width: 38rem;
  max-height: 28rem;
  background: var(--white);
  border-radius: 10px;
  margin: auto;
  display: flex;
}

.column {
  width: 50%;
}

.product-image {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.text-container {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: var(--very-dark-blue);
  font-size: 2rem;
  font-family: "Fraunces", serif;
  line-height: 2.2rem;
}

p {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.product {
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
}

#price {
  display: flex;
  align-items: center;
}

#price h1 {
  color: var(--dark-cyan);
  padding-right: 1rem;
}

#price p {
  text-decoration: line-through;
}

button {
  height: 3rem;
  background: var(--dark-cyan);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background: var(--very-dark-blue);
  transition: all 0.2s ease-in;
  box-shadow: 0 0 0.6rem 0 var(--dark-cyan);
}

.footer {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.footer a {
  color: var(--very-dark-blue);
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }

  .container {
    max-width: 90%;
    max-height: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .product-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px 0 0 0;
  }

  .text-container {
    padding: 2rem;
  }

  h1 {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 0.4rem;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-bottom: 0.4rem;
  }
}

@media screen and (max-width: 400px) {
  .text-container {
    margin-bottom: 2rem;
    padding: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  button {
    height: 2.4rem;
  }
}
